.box-total, .box-new, .box-result {
    display: block;
    padding: 6px;
    margin: 4px;
    width: 160px;
    height: 110px; 
}

.box-total {
    border: 1px solid #055285;
}

.box-new {
    border: 1px solid #8a1125;
}

.box-result {
    border: 1px solid #0a4270;
}

.box-restart {
    display: inline-block;
    padding: 8px;
    margin-left: 26px;
    margin-top: 26px;
    background-color: #fcb8b8;
    border: 1px solid #08263f;
}

.box-delete {
    display: inline-block;
    padding: 8px;
    margin-left: 26px;
    margin-top: 26px;
    background-color: #fdf36b;
    border: 1px solid #08263f;
}
#start, #addam, #result {
    margin-top: 24px;
}

button {
    font-weight: bold;
    color: #ffffff;
    background-color: #046ec4;
    padding: 4px 6px;
}
 
input {
    font-weight: bold;
    color: #ffffff;
    background-color: #064388;
    padding: 4px 6px;
}
h4 {
    font-size: 22px;
    font-weight: bold;
    color: #750433;
}