#main-calc {
  display: flex;
  flex-flow: column wrap; }

.box-total, #box-new, .box-result {
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  margin-left: 30px;
  margin-top: 26px;
  background-color: #ebebeb;
  border: 1px solid #055285; }

.box-total .box-current-total {
  text-align: center;
  padding-left: 20px; }
  .box-total .box-current-total h3 {
    font-weight: bold;
    color: #490421; }
  .box-total .box-current-total #total {
    border: 1px solid #0a4270; }

#box-new div button {
  margin-right: 20px;
  font-size: 16px;
  background-color: #055285;
  color: #ffffff; }

#box-new #addam {
  flex: 1 1 70%;
  border: 1px solid #4f5f6d; }

#box-new #current-amount {
  flex: 1 1 5%;
  border: 1px solid #4f5f6d;
  padding: 0 20px;
  text-align: center; }

#box-new #result {
  border: 1px solid #4f5f6d; }

.box-action #exptype {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #571424;
  padding: 8px 14px;
  margin-top: 10px;
  margin-left: 30px; }

.box-action #restarter, .box-action #del {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #003b62;
  padding: 8px 14px;
  margin-top: 10px;
  margin-left: 30px; }

#month {
  display: flex;
  flex-flow: row wrap; }
  #month li {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 150px;
    border: 1px solid #536b7e; }
